---
import Layout from "@layouts/Layout.astro";
import Navigation from "@components/features/Navigation.astro";
import HeroSection from "@components/features/HeroSection.astro";
import AboutSection from "@components/features/AboutSection.astro";
import PopularMenu from "@components/features/PopularMenu.astro";
import TestimonialsSection from "@components/features/TestimonialsSection.astro";
import Footer from "@components/features/Footer.astro";
import LocationSection from "@components/features/LocationSection.astro";
---

<Layout title="Hornados Mamá Carlina - Auténtica comida ecuatoriana">
  <Navigation />
  <main>
    <HeroSection />
    <AboutSection />
    <PopularMenu />
    <LocationSection />
  </main>
  <Footer />
</Layout>
